<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <button type="button" class="logout" id="logout">LOGOUT</button>

            <div id="username">
                Olá username - Sala
            </div>

            <div id="chat-content" class="conteiner-message">
                <div class="messages" id="messages">
                    <div class="new_message">
                        <label for="" class="form-label">
                            <strong>username</strong>
                            <span>texto - 10/10 10/20</span>
                        </label>
                    </div>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Digite sua menssagem" id="menssagem">
        </div>
    </div>
</body>
</html>